<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>asc.icns</string>
			<key>CFBundleTypeName</key>
			<string>OpenPGP Exported ASCII Keys</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gpgkey</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gpgkey.icns</string>
			<key>CFBundleTypeName</key>
			<string>OpenPGP Exported Keys</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.gpgtools.GPGKeychainAccess</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>AUTOFILL</string>
	<key>CFBundleShortVersionString</key>
	<string>AUTOFILL</string>
	<key>CommitHash</key>
	<string>AUTOFILL</string>
	<key>BuildNumber</key>
	<string>AUTOFILL</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Roman Zechmeister, 2013 (GPL v3)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array/>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>https://gpgtools.org/releases/gka/appcast.xml</string>
	<key>SUFeedURL_nightly</key>
	<string>https://nightly.gpgtools.org/releases/gka/appcast.xml</string>
	<key>SUFeedURL_prerelease</key>
	<string>https://gpgtools.org/releases/gka/pre-appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
