<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>sks-keyservers.net</string>
	<string>pgpkeys.pca.dfn.de</string>
	<string>keyserver.linux.it</string>
	<string>pgp.uni-mainz.de</string>
	<string>minsky.surfnet.nl</string>
	<string>pgp.mit.edu</string>
</array>
</plist>
